<div class="">
  <%= answer.position %>
  <%= answer.effect %>
  <%= answer.phrase %>
  <%= link_to 'Show', answer %>
  <%= link_to 'Edit', edit_step_answer_path(@step, answer) %>
  <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Choose Answer', next_step_answer_path(answer) %>
</div>
