<%= form_with(model: [@step, answer], local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, value: @position ? @position : answer.position %>
  </div>

  <div class="field">
    <%= form.label :effect %>
    <%= form.text_field :effect %>
  </div>

  <div class="field">
    <%= form.label :phrase %>
    <%= form.text_field :phrase %>
  </div>

  <div class="field">
    <%= @steps = Step.all.reject { |s| s.opening == true || s.id == answer.step_id } %>
    <%= select_tag "next_steps", options_from_collection_for_select(@steps, 'id', 'title'), multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
